extends layout

block content
	div.container
		h1 Report
		div#success(class='alert alert-success alert-dismissible', role='alert', hidden=true) 
			button(type='button', class='close', data-dismiss='alert')
				span(aria-hidden='true')
					| &times;
				span(class='sr-only')
					| Close
			strong
				| Success!
		div#error(class='alert alert-danger alert-dismissible', role='alert', hidden=true) 
			button(type='button', class='close', data-dismiss='alert')
				span(aria-hidden='true')
					| &times;
				span(class='sr-only')
					| Close
			strong
				| Oops... Could not make update!
		div.container-fluid
			div.row
				div(class='col-xs-6')
					ul.list-group
						each user in users
							- var userName = user.name
							- var buttonId = userName + '_user_btn'
							button(id='#{buttonId}', class='col-xs-12 list-group-item user', data-user='#{userName}')
								- var checkId = userName + '_check'
								span(id='#{checkId}', class='pull-left glyphicon glyphicon-unchecked')
								span #{userName}
				div(class='col-xs-6')
					ul.list-group
						each word in words
							- var wordString = word.word;
							- var wordNoSpace = wordString.replace(/\s+/g,'')
							- var buttonId = wordNoSpace + '_word_btn'
							button(id='#{buttonId}', class='col-xs-12 list-group-item word', data-word='#{wordNoSpace}', data-word-full='#{wordString}')
								span #{wordString}
								- var badgeId = wordNoSpace + '_badge'
								span(id='#{badgeId}', class='badge pull-right', value=0) 0
		div.container
			br
		div.container-fluid
			a#submit(type='submit', class='btn btn-success btn-lg btn-block') Save